.hover-path {
  transition: fill 0.3s ease;
  fill: blue;
}

.selected {
  fill: red;
}
.highlight-region {
  fill: #ffd700;
}

/* .region {
  transition: fill 0.1s ease;
} */

.region:hover {
  fill: #ffd700;
}

.map-container {
  height: 100%;
  overflow: hidden; /* Asegúrate de que el contenedor permita el desbordamiento */
  position: relative;
}

.svg-zoom {
  transition: transform 0.05s ease-in-out; /* Añade una transición suave */
  transform-origin: center center; /* Establece el origen de la transformación */
}
